DB_HOST=your database host here
DB_PORT=your database port here
DB_NAME=your database name here
DB_USER=your database user here
DB_PASSWORD=your database password here
DB_SSL_MODE=your database SSL mode here
JWT_SECRET=your-jwt-secret-key-here
PORT=your port number here
DB_URL=your database URL here
